/* custom card style */

.toc-app-common {
    display: inline-block;
    padding: 0.6rem 1.25rem 1.25rem 1.25rem;
}

.toc-app-basic {
    position: fixed;
}

.toc-app-bottom {
    position: absolute;
}

/* custom item style */

.items {
    height: 70vh;
    width: 15.3rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.items::-webkit-scrollbar {
    display: none !important;
}

.toc-common {
    display: block;
    cursor: pointer;
    color: darkgrey;
}

.toc-level-1 {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.toc-level-2 {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    margin-left: 0.8rem;
}

.toc-level-3 {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-left: 1.5rem;
}

.toc-level-4 {
    font-size: 0.75rem;
    margin-top: 0.3rem;
    margin-left: 2.2rem;
}

.toc-level-5 {
    font-size: 0.725rem;
    margin-top: 0.3rem;
    margin-left: 2.9rem;
}

.toc-level-6 {
    font-size: 0.7rem;
    margin-top: 0.3rem;
    margin-left: 3.6rem;
}

.toc-active,
.toc-common:hover {
    color: #008408;
}

.toc-parent-active {
    color: #a1c7a0;
}

@media (max-width: 83.75rem) {
    .toc-app-common {
        visibility: hidden;
    }
}
