/* custom card style */
.toc-app {
  display: inline-block;
  position: fixed;
}

.box-card {
  width: 250px;
  margin: 40 10px;
  max-height: 520px;
}

.el-card__body {
  padding: 10 20 20 20;
}

/* custom title style */
.icon-align {
  vertical-align: bottom;
}

/* defualt item style */
.text {
  font-size: 14px;
}

.item {
  margin-bottom: 4px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
   clear: both
}

/* custom item style */
.items {
  max-height: 434px;
  overflow-y: scroll;
}

.toc-level1 {
  font-size: 15px;
  margin-top: 8px;
}

.toc-level2 {
  font-size: 13px;
  /* margin-bottom: 8px; */
}

.toc-level3 {
  font-size: 12px;
  margin-top: 5px;
}