/* custom card style */
.toc-app {
  display: inline-block;
  position: fixed;
  padding: 0.6rem 1.25rem 1.25rem 1.25rem;
}

/* custom item style */
.items {
	/* TODO : DOM의 높이를 넘어가면 스크롤이 생길 수 있도록 */
  overflow-y: scroll;
}

.toc-level1 {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.toc-level2 {
  font-size: 0.8rem;
	margin-top: 0.3rem;
	margin-left: 0.8rem;
}

.toc-level3 {
  font-size: 0.75rem;
  margin-top: 0.3rem;
	margin-left: 1.5rem;
}

.link-to-h-tag {
	display: block;
	cursor: pointer;
}