/* custom card style */
.toc-app {
  display: inline-block;
  position: fixed;
  padding: 10 20 20 20;
}

/* custom item style */
.items {
	/* TODO : DOM의 높이를 넘어가면 스크롤이 생길 수 있도록 */
  overflow-y: scroll;
}

.toc-level1 {
  font-size: 15px;
  margin-top: 8px;
  font-weight: bold;
}

.toc-level2 {
  font-size: 13px;
  margin-top: 5px;
}

.toc-level3 {
  font-size: 12px;
  margin-top: 5px;
}